.local {
    width: 500px;
    color: blue;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 10pt;
}

.price {
    color: red;
    font-size: larger;
    font-size: 20pt;
}

.type {
    text-transform: uppercase;
    letter-spacing: .1em;
    color: gray;
}

.btn {
    color: white;
    padding: 8px 36px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn1 {
    width: 55%;
}

.btn2 {
    border: none;
}

.btn2:hover {
    background-color: #ffffff;
    border: 1px solid blue;
    color: blue;
}

.icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 3px;
}

.active {
    color: red;
    cursor: pointer;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 3px;
}

.mt-auto {
    margin-top: 1000px;
}

.search:hover {
    background-color: white;
    border: 1px solid green;
    color: green;
}

.position {
    margin-right: 5px;
    margin-bottom: 5px;
}

.category {
    margin-right: 5px;
    margin-bottom: 5px;
}
