.d-flex {
  margin-top: 5px;
  margin-bottom: 5px
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;

}

.me-auto {
  max-height: "100px"
}

.nav-link {
  color: black;
}


.home-icon {
  font-size: 15px;
  margin-left: 10px;
}

.search-icon {
  font-size: 15px;
  margin-left: 10px;
}

.logo-img {
  width: 60px;
  height: 60px;
  margin-right: 1300px;
  object-fit: cover;
}